/*IMPORTS*/
@font-face {
    font-family:'textos';
    src: url(../tipografia/tipografia_Patua.ttf);
}

 #menu ul {
     list-style: none;
 }
 #menu ul li { 
    display:inline; 
    float:left; 
    margin-bottom:20px; 
}
#menu ul li a { 
    padding:20px; 
    background: #000000; 
    text-decoration: none; 
    font-family:'textos';
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    text-shadow: #eee 0px 0px 2px; 
}
#menu ul li:first-child a { 
    -moz-border-radius-topleft: 12px; 
    border-top-left-radius:12px; 
}
#menu ul li:last-child a { 
    -moz-border-radius-topright: 12px; 
    border-top-right-radius:12px; 
}
#menu ul li a:hover { 
    -moz-box-shadow: 0 -5px 10px #777; 
    box-shadow: 0 -5px 10px #777;
    color: black;
    background: -moz-linear-gradient(
       right bottom, rgb(237,227,112) 0%, #EEC51F 72%) !important;
    background-color:#EEC51F !important;
    -moz-opacity:.90; 
    filter:alpha(opacity=90); 
    opacity:.90; 
}
#main {
    clear: left;
    background-color: #EEC51F;
    font-family:'textos';
    margin-left: 40px;
    width: 549px;
    margin-top: 250px;

}
label {
    font-size: 1.5em;
    margin-left: 15px;
    
}
input {
    height: 20px;
    margin-bottom: 10px;
}

/*Inputs*/
#nomPersona {
    width: 400px;
}
#estudioActual {
    width: 272px;
}
#lugar {
    width: 410px;   
}
#numTelf {
    width: 390px;
}
#ages{
    width: 430px;
}
#corElectronico {
    width: 290px;
}

#preview {
    border: 4px dashed #000000;
    border-radius: 30px;
    margin-right: 20px;
}

#fecha, #introduccion, #tiempoEstimado {
    padding-top: 15px;
}

#tiempoEstimado, #dificultadEstimada {
    margin-bottom: 10px;
}

select {
    margin-left: 10px;
}


textarea, #imgIntro {
    margin: 15px 0 20px 15px;
}

textarea {
    padding: 10px;
    font-family: 'textos';
    resize: none;
}

#imgPrincipal {
    font-family: 'textos';
    font-size: 0.9em;
}

#myButton {
    float: right;
}

/*Boton*/
/* .btnSiguiente {
    float: right;
    cursor: pointer;
    width: 80px;
    height: 40px;
    margin-right: 15px;
}
.btnAnterior {
    cursor: pointer;
    width: 80px;
    height: 40px;
    margin-left: 15px;
}
.btnSiguienteFicha {
    cursor: pointer;
    width: 80px;
    height: 40px;
    margin-left: 78%;
} */

/* #botones {
    display: inline-flex;
} */