main {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main > div:first-child {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  /* background-color: blue; */
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 0px;
  margin-right: 5px;
  margin-left: 5px;
}

@media screen and (min-width: 600px) {
  main > div:first-child {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

main > div:first-child > div {
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  row-gap: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main > div:first-child > div:first-of-type article {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main > div:first-child > div:first-of-type article:first-child {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

main > div:first-child > div:first-of-type h1 {
  margin: 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main > div:first-child > div:first-of-type > div {
  display: none;
}

@media screen and (min-width: 800px) {
  main > div:first-child > div:first-of-type > div {
    display: block;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  main > div:first-child > div:first-of-type > div h2 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
    color: white;
    background-color: black;
    border-radius: 5px 5px 0px 0px;
  }
  main > div:first-child > div:first-of-type > div article {
    margin-left: 5px;
    margin-right: 5px;
  }
  main > div:first-child > div:first-of-type > div img {
    margin-top: 20px;
    width: 180px;
    height: auto;
  }
}

@media screen and (min-width: 800px) {
  main > div:first-child > div:first-of-type {
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
  }
}

main > div:first-child > div:nth-child(2) {
  row-gap: 0px;
}

@media screen and (min-width: 600px) {
  main > div:first-child > div:nth-child(2) {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

main > div:first-child > div:nth-child(2) > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  row-gap: 0px;
}

main > div:first-child > div:nth-child(2) > div h2 {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eec51f;
  border-radius: 5px 5px 0px 0px;
}

main > div:first-child > div:nth-child(2) > div aside {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main > div:first-child > div:nth-child(2) > div aside > div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main > div:first-child > div:nth-child(2) > div aside > div span {
  margin-left: 10px;
  font-size: 10px;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (min-width: 600px) {
  main > div:first-child > div:nth-child(2) > div aside > div span {
    font-size: 20px;
  }
}

main > div:first-child > div:nth-child(2) > div aside > div span:first-child {
  margin-top: 5px;
}

main > div:first-child > div:nth-child(2) > div aside > div span:last-child {
  margin-bottom: 5px;
}

main > div:first-child > div:nth-child(2) > div:nth-child(2) > aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

main > div:nth-child(2) {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 0px;
  margin-right: 5px;
  margin-left: 5px;
}

@media screen and (min-width: 800px) {
  main > div:nth-child(2) {
    display: none;
  }
}

main > div:nth-child(2) > div {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main > div:nth-child(2) > div:first-child {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

main > div:nth-child(2) > div h2 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  color: white;
  background-color: black;
  border-radius: 5px 5px 0px 0px;
}

main > div:nth-child(2) > div article {
  margin-left: 5px;
  margin-right: 5px;
}

main > div:nth-child(2) > div img {
  margin-top: 20px;
  width: 180px;
  height: auto;
}

main > div:nth-child(3) {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #e4e4e4;
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 0px;
}

main > div:nth-child(3) h1 {
  margin: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

main > div:nth-child(3) article {
  margin-left: 10px;
  margin-right: 10px;
}

main > div:nth-child(4) {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-right: 5px;
  margin-left: 5px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

main > div:nth-child(4) > div:first-child {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

main > div:nth-child(4) > div:first-child > h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  background-color: #eec51f;
  padding: 10px;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

main > div:nth-child(4) > div:first-child > ul {
  margin: 0px;
  border: 1px solid #eec51f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  padding: 0px;
  padding-left: 20px;
  padding-right: 10px;
}

main > div:nth-child(4) > div:first-child > ul > li {
  margin-top: 5px;
}

main > div:nth-child(4) > div:first-child > ul > li:last-child {
  margin-bottom: 5px;
}

main > div:nth-child(4) > div:first-child > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > div:nth-child(4) > div:first-child > div > img {
  margin-top: 20px;
  width: 150px;
  height: auto;
}

main > div:nth-child(4) > div:last-child {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #eec51f;
  border-radius: 5px;
}

main > div:nth-child(4) > div:last-child article {
  margin: 20px;
}

main > div:nth-child(5) {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 30px;
}

main > div:nth-child(5) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > div:nth-child(5) > div > img {
  width: 150px;
  height: auto;
}

footer {
  background-color: #e4e4e4;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-left: auto;
}

footer > a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: auto;
}

footer > a > img {
  height: 30px;
  width: auto;
  margin-right: 15px;
}
/*# sourceMappingURL=index.css.map */