@import '_var.scss';

main{
    height: fit-content;
    >div{
        &:first-child{
            height: fit-content;
            /* background-color: blue; */
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
            column-gap: 10px;
            row-gap: 0px;
            margin-right: 5px;
            margin-left: 5px;
            @media screen and (min-width: 600px){
                grid-template-columns: auto auto;
            }
            >div{
                margin-top: 10px;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto auto auto;
                column-gap: 0px;
                row-gap: 10px;
                height: fit-content;
                &:first-of-type{
                    article{
                        height: fit-content;
                        &:first-child{
                            font-family: 'Times New Roman', Times, serif;
                            font-size: 20px;
                        }
                    }
                    h1{
                        margin: 0px;
                        height: fit-content;
                    }
                    >div{
                        display: none;
                        @media screen and (min-width: 800px){
                            display: block;
                            display: grid;
                            grid-template-columns: auto auto;
                            grid-template-rows: 1fr;
                            column-gap: 10px;
                            h2{
                                height: fit-content;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin: 0px;
                                color: white;
                                background-color: black;
                                border-radius: 5px 5px 0px 0px;
                            }
                            article{
                                margin-left: 5px;
                                margin-right: 5px;
                            }
                            img{
                                margin-top: 20px;
                                width: 180px;
                                height: auto;
                            }
                        }
                    }
                    @media screen and (min-width: 800px){
                        grid-template-rows: auto auto auto auto;
                    }
                }
                
                &:nth-child(2){
                    row-gap: 0px;
                    @media screen and (min-width: 600px){
                        width: fit-content;
                    }
                    >div{
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: auto auto;
                        row-gap: 0px;
                        h2{
                            margin: 0px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: $yellow;
                            border-radius: 5px 5px 0px 0px;
                        }
                        aside{
                           
                            height: fit-content;
                            >div{
                                
                                width: fit-content;
                                span{
                                    margin-left: 10px;
                                    font-size: 10px;
                                    display: inline-block;
                                    width: fit-content;
                                    @media screen and (min-width: 600px){
                                        font-size: 20px;
                                    }
                                    &:first-child{
                                        margin-top: 5px;
                                    }
                                    &:last-child{
                                        margin-bottom: 5px;
                                    }
                                }
                            }
                           
                        }
                        &:nth-child(2){
                            >aside{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-top: 5px;
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
        &:nth-child(2){
            height: fit-content;
            margin-top: 10px;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
            column-gap: 10px;
            row-gap: 0px;
            margin-right: 5px;
            margin-left: 5px;
            @media screen and (min-width: 800px){
                display: none;
            }
            >div{
                height: fit-content;
                &:first-child{
                    
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto auto;
                }
                h2{
                    height: fit-content;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0px;
                    color: white;
                    background-color: black;
                    border-radius: 5px 5px 0px 0px;
                }
                article{
                    margin-left: 5px;
                    margin-right: 5px;
                }
                img{
                    margin-top: 20px;
                    width: 180px;
                    height: auto;
                }
            }
        }
        &:nth-child(3){
            height: fit-content;
            background-color: $grey;
            margin-top: 10px;
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: 1fr;
            row-gap: 0px;
            h1{
                margin: 0px;
                margin-left: 5px;
                margin-right: 5px;
            }
            article{
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        &:nth-child(4){
            height: fit-content;
            margin-top: 10px;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
            margin-right: 5px;
            margin-left: 5px;
            column-gap: 10px;
            padding-left: 20px;
            padding-right: 20px;
            >div:first-child{
                height: fit-content;
                display: grid;
                grid-template-rows: auto auto auto;
                grid-template-columns: 1fr;
                
                >h2{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0px;
                    background-color: $yellow;
                    padding: 10px;
                    width: 100%;
                    border-radius: 5px 5px 0px 0px;
                }
                >ul{
                    margin: 0px;
                    border: 1px solid $yellow;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    row-gap: 0px;
                    column-gap: 0px;
                    padding: 0px;
                    padding-left: 20px;
                    padding-right: 10px;
                    >li{
                       margin-top: 5px;
                       &:last-child{
                           margin-bottom: 5px;
                       }
                    }
                }
                >div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                   
                    >img{
                        margin-top: 20px;
                        width: 150px;
                        height: auto;
                    }
                }
                
            }
            >div:last-child{
                height: fit-content;
                background-color: $yellow;
                border-radius: 5px;
                article{
                    margin: 20px;
                }
            }
        }
        &:nth-child(5){
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
            margin-top: 30px;
            >div{
                display: flex;
                justify-content: center;
                align-items: center;
                >img{
                    width: 150px;
                    height: auto;
                }
            }
        }
    }
}
footer{
    background-color: $grey;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    >div{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin-left: auto;
    }
    >a{
        width: fit-content;
        height: fit-content;
        margin-left: auto;
        >img{
            height: 30px;
            width: auto;
            
            margin-right: 15px;
        }
    } 
}
